@model ContactModel

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            <div class="row g-3">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PartnerId" />
                <div class="col-md-6">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="small text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="small text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="JobTitleId" class="form-label"></label>
                    <select asp-for="JobTitleId" class="form-control">
                        <option value="">Select job title...</option>
                        @foreach (var jobTitle in Model.JobTitles)
                        {
                            <option value="@jobTitle.Id">@jobTitle.Title</option>
                        }
                    </select>
                    <span asp-validation-for="JobTitleId" class="small text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="EmailAddress" class="form-label"></label>
                    <input asp-for="EmailAddress" class="form-control">
                    <span asp-validation-for="EmailAddress" class="small text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.CurrentEmailAddress" />
                <div class="col-12">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.CurrentPhoneNumber" />
            </div>
            <hr class="my-4" />
            <div class="row row-cols-1">
                <div class="col">
                    <input asp-for="IsUser" class="form-check-input" type="checkbox" value="true" checked="@Model.IsUser">
                    <label asp-for="IsUser" class="form-check-label"></label>
                    <span asp-validation-for="IsUser" class="small text-danger"></span>
                    <input type="hidden" asp-for="@Model.UserId" />
                </div>
            </div>
            <hr class="my-4" />
            <div class="text-center">
                <input class="w-100 btn btn-primary btn-lg" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>